<template name="collage">
    <div id="links">


        
             <a href="#" title="" data-gallery=""><img src="images/pro/dentist/1.jpg" width="75px" height="75px"></a>
             <a href="#" title="" data-gallery=""><img src="images/pro/dentist/2.jpg" width="75px" height="75px"></a>
             <a href="#" title="" data-gallery=""><img src="images/pro/dentist/3.jpg" width="75px" height="75px"></a>
             <a href="#" title="" data-gallery=""><img src="images/pro/dentist/4.jpg" width="75px" height="75px"></a>
             
        <!--      <a href="#" title="" data-gallery=""><img src="images/pro/doctor/1.jpg" width="75px" height="75px"></a>
             <a href="#" title="" data-gallery=""><img src="images/pro/doctor/2.jpg" width="75px" height="75px"></a> -->
             <a href="#" title="" data-gallery=""><img src="images/pro/doctor/3.jpg" width="75px" height="75px"></a>
             <a href="#" title="" data-gallery=""><img src="images/pro/doctor/4.jpg" width="75px" height="75px"></a>
             <a href="#" title="" data-gallery=""><img src="images/pro/doctor/5.jpg" width="75px" height="75px"></a>

             <a href="#" title="" data-gallery=""><img src="images/pro/electrician/1.jpg" width="75px" height="75px"></a>
             <a href="#" title="" data-gallery=""><img src="images/pro/electrician/2.jpg" width="75px" height="75px"></a>
             <a href="#" title="" data-gallery=""><img src="images/pro/electrician/3.jpg" width="75px" height="75px"></a>

             <a href="#" title="" data-gallery=""><img src="images/pro/lawyer/1.jpg" width="75px" height="75px"></a>
           <!--   <a href="#" title="" data-gallery=""><img src="images/pro/lawyer/2.jpg" width="75px" height="75px"></a> -->
             <a href="#" title="" data-gallery=""><img src="images/pro/lawyer/3.jpg" width="75px" height="75px"></a>
             <a href="#" title="" data-gallery=""><img src="images/pro/lawyer/4.jpg" width="75px" height="75px"></a>

             <a href="#" title="" data-gallery=""><img src="images/pro/nurse/1.jpg" width="75px" height="75px"></a>
             <a href="#" title="" data-gallery=""><img src="images/pro/nurse/2.jpg" width="75px" height="75px"></a>
           <!--   <a href="#" title="" data-gallery=""><img src="images/pro/nurse/3.jpg" width="75px" height="75px"></a> -->
         <!--     <a href="#" title="" data-gallery=""><img src="images/pro/nurse/4.jpg" width="75px" height="75px"></a> -->

             <a href="#" title="" data-gallery=""><img src="images/pro/SoftwareEngg/1.jpg" width="75px" height="75px"></a>
             <a href="#" title="" data-gallery=""><img src="images/pro/SoftwareEngg/2.jpg" width="75px" height="75px"></a>
             <a href="#" title="" data-gallery=""><img src="images/pro/SoftwareEngg/3.jpg" width="75px" height="75px"></a>
            <!--  <a href="#" title="" data-gallery=""><img src="images/pro/SoftwareEngg/4.jpg" width="75px" height="75px"></a> -->
          <!--    <a href="#" title="" data-gallery=""><img src="images/pro/SoftwareEngg/5.jpg" width="75px" height="75px"></a> -->
             <a href="#" title="" data-gallery=""><img src="images/pro/SoftwareEngg/6.jpg" width="75px" height="75px"></a>

             <a href="#" title="" data-gallery=""><img src="images/pro/teacher/1.jpg" width="75px" height="75px"></a>
             <a href="#" title="" data-gallery=""><img src="images/pro/teacher/2.jpg" width="75px" height="75px"></a>
             <a href="#" title="" data-gallery=""><img src="images/pro/teacher/3.jpg" width="75px" height="75px"></a>
             <a href="#" title="" data-gallery=""><img src="images/pro/teacher/4.jpg" width="75px" height="75px"></a>
          


             <a href="#" title="" data-gallery=""><img src="images/pro/dentist/1.jpg" width="75px" height="75px"></a>
             <a href="#" title="" data-gallery=""><img src="images/pro/dentist/2.jpg" width="75px" height="75px"></a>
             <a href="#" title="" data-gallery=""><img src="images/pro/dentist/3.jpg" width="75px" height="75px"></a>
             <a href="#" title="" data-gallery=""><img src="images/pro/dentist/4.jpg" width="75px" height="75px"></a>
             
        <!--      <a href="#" title="" data-gallery=""><img src="images/pro/doctor/1.jpg" width="75px" height="75px"></a>
             <a href="#" title="" data-gallery=""><img src="images/pro/doctor/2.jpg" width="75px" height="75px"></a> -->
             <a href="#" title="" data-gallery=""><img src="images/pro/doctor/3.jpg" width="75px" height="75px"></a>
             <a href="#" title="" data-gallery=""><img src="images/pro/doctor/4.jpg" width="75px" height="75px"></a>
             <a href="#" title="" data-gallery=""><img src="images/pro/doctor/5.jpg" width="75px" height="75px"></a>

             <a href="#" title="" data-gallery=""><img src="images/pro/electrician/1.jpg" width="75px" height="75px"></a>
             <a href="#" title="" data-gallery=""><img src="images/pro/electrician/2.jpg" width="75px" height="75px"></a>
             <a href="#" title="" data-gallery=""><img src="images/pro/electrician/3.jpg" width="75px" height="75px"></a>

             <a href="#" title="" data-gallery=""><img src="images/pro/lawyer/1.jpg" width="75px" height="75px"></a>
           <!--   <a href="#" title="" data-gallery=""><img src="images/pro/lawyer/2.jpg" width="75px" height="75px"></a> -->
             <a href="#" title="" data-gallery=""><img src="images/pro/lawyer/3.jpg" width="75px" height="75px"></a>
             <a href="#" title="" data-gallery=""><img src="images/pro/lawyer/4.jpg" width="75px" height="75px"></a>

             <a href="#" title="" data-gallery=""><img src="images/pro/nurse/1.jpg" width="75px" height="75px"></a>
             <a href="#" title="" data-gallery=""><img src="images/pro/nurse/2.jpg" width="75px" height="75px"></a>
           <!--   <a href="#" title="" data-gallery=""><img src="images/pro/nurse/3.jpg" width="75px" height="75px"></a> -->
         <!--     <a href="#" title="" data-gallery=""><img src="images/pro/nurse/4.jpg" width="75px" height="75px"></a> -->

             <a href="#" title="" data-gallery=""><img src="images/pro/SoftwareEngg/1.jpg" width="75px" height="75px"></a>
             <a href="#" title="" data-gallery=""><img src="images/pro/SoftwareEngg/2.jpg" width="75px" height="75px"></a>
             <a href="#" title="" data-gallery=""><img src="images/pro/SoftwareEngg/3.jpg" width="75px" height="75px"></a>
            <!--  <a href="#" title="" data-gallery=""><img src="images/pro/SoftwareEngg/4.jpg" width="75px" height="75px"></a> -->
          <!--    <a href="#" title="" data-gallery=""><img src="images/pro/SoftwareEngg/5.jpg" width="75px" height="75px"></a> -->
             <a href="#" title="" data-gallery=""><img src="images/pro/SoftwareEngg/6.jpg" width="75px" height="75px"></a>

             <a href="#" title="" data-gallery=""><img src="images/pro/teacher/1.jpg" width="75px" height="75px"></a>
             <a href="#" title="" data-gallery=""><img src="images/pro/teacher/2.jpg" width="75px" height="75px"></a>
             <a href="#" title="" data-gallery=""><img src="images/pro/teacher/3.jpg" width="75px" height="75px"></a>
             <a href="#" title="" data-gallery=""><img src="images/pro/teacher/4.jpg" width="75px" height="75px"></a>



             <a href="#" title="" data-gallery=""><img src="images/pro/dentist/1.jpg" width="75px" height="75px"></a>
             <a href="#" title="" data-gallery=""><img src="images/pro/dentist/2.jpg" width="75px" height="75px"></a>
             <a href="#" title="" data-gallery=""><img src="images/pro/dentist/3.jpg" width="75px" height="75px"></a>
             <a href="#" title="" data-gallery=""><img src="images/pro/dentist/4.jpg" width="75px" height="75px"></a>
             
        <!--      <a href="#" title="" data-gallery=""><img src="images/pro/doctor/1.jpg" width="75px" height="75px"></a>
             <a href="#" title="" data-gallery=""><img src="images/pro/doctor/2.jpg" width="75px" height="75px"></a> -->
             <a href="#" title="" data-gallery=""><img src="images/pro/doctor/3.jpg" width="75px" height="75px"></a>
             <a href="#" title="" data-gallery=""><img src="images/pro/doctor/4.jpg" width="75px" height="75px"></a>
             <a href="#" title="" data-gallery=""><img src="images/pro/doctor/5.jpg" width="75px" height="75px"></a>

             <a href="#" title="" data-gallery=""><img src="images/pro/electrician/1.jpg" width="75px" height="75px"></a>
             <a href="#" title="" data-gallery=""><img src="images/pro/electrician/2.jpg" width="75px" height="75px"></a>
             <a href="#" title="" data-gallery=""><img src="images/pro/electrician/3.jpg" width="75px" height="75px"></a>

             <a href="#" title="" data-gallery=""><img src="images/pro/lawyer/1.jpg" width="75px" height="75px"></a>
           <!--   <a href="#" title="" data-gallery=""><img src="images/pro/lawyer/2.jpg" width="75px" height="75px"></a> -->
             <a href="#" title="" data-gallery=""><img src="images/pro/lawyer/3.jpg" width="75px" height="75px"></a>
             <a href="#" title="" data-gallery=""><img src="images/pro/lawyer/4.jpg" width="75px" height="75px"></a>

             <a href="#" title="" data-gallery=""><img src="images/pro/nurse/1.jpg" width="75px" height="75px"></a>
             <a href="#" title="" data-gallery=""><img src="images/pro/nurse/2.jpg" width="75px" height="75px"></a>
           <!--   <a href="#" title="" data-gallery=""><img src="images/pro/nurse/3.jpg" width="75px" height="75px"></a> -->
         <!--     <a href="#" title="" data-gallery=""><img src="images/pro/nurse/4.jpg" width="75px" height="75px"></a> -->

             <a href="#" title="" data-gallery=""><img src="images/pro/SoftwareEngg/1.jpg" width="75px" height="75px"></a>
             <a href="#" title="" data-gallery=""><img src="images/pro/SoftwareEngg/2.jpg" width="75px" height="75px"></a>
             <a href="#" title="" data-gallery=""><img src="images/pro/SoftwareEngg/3.jpg" width="75px" height="75px"></a>
            <!--  <a href="#" title="" data-gallery=""><img src="images/pro/SoftwareEngg/4.jpg" width="75px" height="75px"></a> -->
          <!--    <a href="#" title="" data-gallery=""><img src="images/pro/SoftwareEngg/5.jpg" width="75px" height="75px"></a> -->
             <a href="#" title="" data-gallery=""><img src="images/pro/SoftwareEngg/6.jpg" width="75px" height="75px"></a>

             <a href="#" title="" data-gallery=""><img src="images/pro/teacher/1.jpg" width="75px" height="75px"></a>
             <a href="#" title="" data-gallery=""><img src="images/pro/teacher/2.jpg" width="75px" height="75px"></a>
             <a href="#" title="" data-gallery=""><img src="images/pro/teacher/3.jpg" width="75px" height="75px"></a>
            <!--  <a href="#" title="" data-gallery=""><img src="images/pro/teacher/4.jpg" width="75px" height="75px"></a> -->


         

    
    </div>
</template>
